*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;    
}

nav{
    display: flex;
    width: auto;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw-1300px)/2);
}

.logo a{
    font-size: 1.5rem;
    padding: 0 2rem;
    font-style: italic;
    text-decoration: none;
    color: #626975;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #626975;

}

.nav-items a{
    text-decoration: none;
    padding: 0 1.5rem;
    color: #626975;

}

.hero{
    display: flex;
    width: auto;
    height: 85vh;
    justify-content: center;
}

.right-coloumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 2rem;
    /* border: 2px solid black; */
}

.right-coloumn h1{
    font-size: 3rem;
    font-weight: 400;
}

.right-coloumn p{
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
    color: #626975;
}

.R-btn{
    /* border: 2px solid red; */
    /* margin: 0.5rem; */
    margin-top: 1rem;
}

.R-btn a{
    text-decoration: none;
    border: none;
}

.Contact-btn,
 .GetStarted-btn{
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold; 
    background-color: white;   
}
.Contact-btn a,
 .GetStarted-btn a{
    color: #626975;
    background-color: white;
   
}

.Contact-btn{
    margin-left: 10px;
}


.left-coloumn{
    width: 50%;
    justify-content: center;
    /* border: 2px solid black; */
}

.left-coloumn img{
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    width: 100%;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    background-color: #495464;
    color: white;
    text-align: center;
}

/* media quries starts  */
@media screen and (max-width: 1024px) {
    .left-coloumn img{
        margin-top: 4.5rem;
    }
}

@media screen and (max-width: 786px) {
    .hero{
        height: auto;
        flex-direction: column;
    }

    .left-coloumn{
        display: flex;
        width: auto;
        justify-content: center;
        /* border: 2px solid black; */
    }

    .left-coloumn img{
        padding: 0;
        margin-top: 2rem;
        width: 70%;
    }

    .right-coloumn{
        margin-top: 1.5rem;
        width: auto;
        text-align: center;
        padding: 0;
    }

    .footer{
        margin-top: 3rem;
    }

}

@media screen and (max-width: 430px) {

    #nav{
        flex-direction: column;
        margin-top: 1.5rem;
    }

    .left-coloumn img{
        width: 100%;
    }
    
}